button.mat-button.mat-button-base {
    background: #0277bd;
    color: #fff;
    width: 50%;
    margin-bottom: 25px;
    margin-top: 10px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #ff5722;
}

.upload-document {
    transform: translateX(25%) translateY(0%);
    width: 100%;
}

input#file {
    vertical-align: middle;
    display: inline-block;
    padding: 74px 0 0 0;
    height: 73px;
    width: 50%;
    margin-top: 10px;
    overflow: hidden;
    box-sizing: border-box;
    background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png) center center no-repeat #e4e4e4;
    border-radius: 10px;
    background-size: 45px 46px;
}

span.material-icons.action-icon-delete {
    color: #d00e00;
}

.heading {
    text-transform: uppercase;
    color: #fff;
    text-align: left!important;
    font-size: 18px;
    font-weight: 600;
    margin-left: 0px;
}

.fileUploaderror {
    color: red!important;
}

.mat-column-position {
    flex: 0 0 5%;
}

.mat-column-file {
    flex: 0 0 75%;
}

.mat-column-action {
    flex: 0 0 20%;
}