<!-- Progress Bar -->
<div class="overlay">
    <div class="center twitter-like">
        <mat-progress-spinner class="background" diameter=75 mode="indeterminate" color="accent" *ngIf="IsWait">
        </mat-progress-spinner>
    </div>
</div>
<div class="upload-document">
    <form [formGroup]="pdfUpload">
        <div class="row">
            <div class="col-md-10 heading">Upload File to  health Checkup details</div>
        </div>
        <div class="container" novalidate>
            <div class="row row-space file-upload">
                <div class="col-md-8 col-8 ">
                    <input type="text" type="file" id="file" (change)="getFileDetails($event)" required/>
                </div>
                <div class="col-md-4 col-4 bottom-btn">
                    <button mat-button (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<mat-table #table [dataSource]="dataSource" *ngIf="uploadedFiles.length > 0" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"> {{i+1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="file">
        <mat-header-cell *matHeaderCellDef> File Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
            <span class="material-icons action-icon-delete" (click)="removeSelectedFile(i)">delete_sweep</span>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>