<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

        <form [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">

            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <button mat-fab color="accent" class="mat-elevation-z12">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                    <span class="box-content-header">Member Login</span>
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput type="password" placeholder="Password" formControlName="password">
                            <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                        </mat-form-field>
                    </mat-card>
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit" (click)="onSubmit(form.value)">SIGN IN</button>
                </mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header" routerLink="/reset-password">
                    <button mat-fab color="accent" class="mat-elevation-z12">
                        <mat-icon>rotate_90_degrees_ccw</mat-icon>
                    </button>
                    <a mat-button routerLink="/reset-password">Reset Password</a>
                </div>
            </mat-card>

        </form>

    </div>

</mat-sidenav-container>