<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
        <div fxLayout="row">
            <!-- <mat-card-title class="m-0">
                <h5 *ngIf="Uploader">Upload PDF</h5>
                <h5 *ngIf="!Uploader">Download PDF</h5>
            </mat-card-title> -->
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="Uploader">
            <!-- <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
                <mat-button-toggle value="add" (click)="openUserDialog()" class="headerbtn" disabled="true">
                    <mat-icon>add</mat-icon> Add 
                </mat-button-toggle>
            </mat-button-toggle-group> -->
        </div>
    </div>

    <div class="flex-p">
        <div>
            <mat-form-field class="example-chip-list">
                <input placeholder="Add Policy Number" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">

                <mat-chip-list #chipList>
                </mat-chip-list>
            </mat-form-field>
            <mat-chip *ngFor="let policy of policies" [selectable]="selectable" [removable]="removable" (removed)="remove(policy)">
                {{policy}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
        </div>
        <div class="search">
            <button mat-button (click)="onSearch()" class="searchbtn" style="margin-right: 10px;">
                Search
                </button>
            <button mat-button (click)="onDownload()" class="searchbtn">
                Download
            </button>
        </div>
        <div>
            <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index"> {{i+1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="document_name">
                    <mat-header-cell *matHeaderCellDef> Document Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.document_name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="material-icons action-icon-edit">download</span>
                        <span class="material-icons action-icon-delete">delete_sweep</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </div>
    </div>
</div>