<mat-card class="p-0">
    <div class="bg-primary text-center py-1">
        <h2>change Password:</h2>
    </div>

    <form [formGroup]="personalForm" (ngSubmit)="onSubmit(personalForm.value)" fxLayout="row wrap" class="user-form p-1">


        <div fxFlex="100" fxFlex.gt-sm="32" fxFlex.sm="32" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>Old Password</mat-label>
                <input matInput autocomplete="off" placeholder="Old Password" formControlName="old_password" type="password">
                <mat-error *ngIf="personalForm.controls.old_password.errors?.required">Old Password is required</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="32" fxFlex.sm="32" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput autocomplete="off" placeholder="New Password" formControlName="new_password" type="password">
                <mat-error *ngIf="personalForm.controls.new_password.errors?.required">New Password is required</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="31" fxFlex.sm="31" class="p-1">
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput autocomplete="off" placeholder="Confirm Password" formControlName="confirm_password" type="password">
                <mat-error *ngIf="personalForm.controls.confirm_password.errors?.required">Confirm Password is required</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="100" class="p-1 text-center">
            <button mat-raised-button color="primary" class="uppercase mx-1" type="submit">Update</button>
        </div>

    </form>

</mat-card>